.App {
  text-align: center;
  background-color: black;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center-div {
  margin: auto;
  top: 75px;
  right: 0;
  left: 0;
  width: 400px;
  height: 100px;
}
.container {
  margin: auto;
  background-color: white;
  width: 1000px;
  padding-bottom: 15px;
}

.container-black {
  margin: auto;
  background-color: black;
  width: 1000px;
  padding-bottom: 15px;
}

.title {
	font-family: Calibri;
	font-size: 28px;
}

.icon-bar {
  width: 100%; /* Full-width */
  background-color: white; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.icon-bar-2 {
  width: 100%; /* Full-width */
  background-color: black; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: black; /* White text color */
  font-size: 22px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: red; /* Add a hover color */
}

.active {
  background-color: white; /* Add an active/current color */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
